
#items_table {
    border: 1px solid black;
    border-spacing: 0;

    tr.expected {
        background-color: lightyellow;
    }

    td, th {
        border: 1px solid black;
        padding: 5px;
    }
} 
