<html>
  <head>
    <link rel="stylesheet" href="static/app.css"></style>
    {% if test %}
      <link rel="stylesheet" href="static/test.css"></style>
    {% endif %}
  </head>

  <body>

    <h1>
      FOLIO Offline Shelf Reading 
      &mdash; 
      {{ cycle }} 
      &mdash;
      Mode
      <select id="mode_select">
        <option value="./" {{ 'selected' if mode is eq "default" }}>Range</option>
        <option value="./individual" {{ 'selected' if mode is eq "individual" }}>Individual</option>
        <option value="./condition-fix" {{ 'selected' if mode is eq "condition-fix" }}>Condition Fix</option>
      </select>
      &mdash; 
      User {{username}} 
      <button class="logout" onclick="logout();">Log out</button> 
    </h1>

    <div class="control_sections">

      {% block range_section %}
      {% endblock %}

      <section>
        <h2>Scan the next barcode</h2>
        <form id="scan_next_barcode" onsubmit="event.preventDefault(); scanNextBarcode();">
          <div class="next_barcode">
            <label for="next_barcode"></label>
            <input type="text" id="next_barcode" name="next_barcode" disabled>
          </div>
          <input type="submit" hidden />
        </form>
      </section>

      <section>
        <h2>After scanning all items</h2>
        <button id="save_to_folio" onclick="saveToFolio();" disabled>Save to FOLIO</button>
      </section>

    </div>

    <hr/>

    <section class="table_section">
      {% block table_header %}
      {% endblock %}
      <form id="items_form">
        <table id="items_table">
          <thead>
          </thead>
          <tbody>
          </tbody>  
        </table>
      </form>
    </section>

    <script src="static/base.js"></script>
    {% block js %}
    {% endblock %}
    {% if test %}
      <script>
        const testData = JSON.parse('{{ test | tojson }}');
      </script>
      <script src="static/test.js"></script>
    {% endif %}

  </body>
</html>
