{% extends "base.html" %}

{% block range_section %}
<section>
  <h2>Identify range to shelf-read</h2>
  <form id="load-items" onsubmit="event.preventDefault(); loadItems();">
    <div class="start_barcode">
      <label for="start_barcode">Start Barcode:</label>
      <input type="text" id="start_barcode" name="start_barcode">
    </div>
    <div class="end_barcode">
      <label for="end_barcode">End Barcode:</label>
      <input type="text" id="end_barcode" name="end_barcode">
    </div>
    <input type="submit" hidden></input>
  </form>
</section>
{% endblock %}

{% block table_header %}
<h2>Items within the range</h2>
{% endblock %}

{% block js %}
<script src="static/default.js"></script>
{% endblock %}