<html>
  <head>
    <link rel="stylesheet" href="static/app.css"></style>
    {% if test %}
      <link rel="stylesheet" href="static/test.css"></style>
    {% endif %}
  </head>

  <body>

    <h1>FOLIO Offline Shelf Reading &mdash; {{ cycle }} &mdash; User {{username}} <button class="logout" onclick="logout();">Log out</button> </h1>

    <div class="control_sections">

      <section>
        <h2>Identify range to shelf-read</h2>
        <form id="load-items" onsubmit="event.preventDefault(); loadItems();">
          <div class="start_barcode">
            <label for="start_barcode">Start Barcode:</label>
            <input type="text" id="start_barcode" name="start_barcode">
          </div>
          <div class="end_barcode">
            <label for="end_barcode">End Barcode:</label>
            <input type="text" id="end_barcode" name="end_barcode">
          </div>     
          <input type="submit" hidden></input>   
        </form>
      </section>

      <section>
        <h2>Scan the next barcode</h2>
        <form id="scan_next_barcode" onsubmit="event.preventDefault(); scanNextBarcode();">
          <div class="next_barcode">
            <label for="next_barcode"></label>
            <input type="text" id="next_barcode" name="next_barcode">
          </div>
          <input type="submit" hidden />
        </form>
      </section>

      <section>
        <h2>After scanning all items</h2>
        <button onclick="saveToFolio();">Save to FOLIO</button>
      </section>

    </div>

    <hr/>

    <section class="table_section">
      <h2>Items within the range</h2>
      <form id="items_form">
        <table id="items_table">
          <thead>
          </thead>
          <tbody>
          </tbody>  
        </table>
      </form>
    </section>

    <script src="static/app.js"></script>
    {% if test %}
      <script>
        const testData = JSON.parse('{{ test | tojson }}');
      </script>
      <script src="static/test.js"></script>
    {% endif %}

  </body>
</html>
