
[FOLIO]

base_url=https://myinstitution.folio.indexdata.com
tenant=diku
# This user should be created with the following FOLIO permissions:
# - Check in: All permissions
# - Inventory: View instances, holdings, and items
# - Inventory: View, create, edit, mark missing items
# - Reporting: All permissions
username=folio_user
password=some_password

# This statistical code should represent the current year / cycle of shelf reading.
inventoried_statistical_code=INV-2025

# This item note type is used for notes on each item as it is inventoried.
inventoried_item_note_type=Inventory

# This item note is used for condition notes on inventoried items.
inventoried_item_condition_note_type=Inventoried Condition

# The item damage status is set to this value for some conditions; see [ConditionsDamageFlag] below.
item_damage_status=Damaged

[MetaDB]

items_query_url=https://raw.githubusercontent.com/lehigh-university-libraries/folio-offline-shelf-reading/refs/heads/main/metadb/get_items_between_barcodes.sql

[Conditions]
# Note: Use the value <custom> to prompt the user to enter a condition
11111 = Minor concern
22222 = Major concern
33333 = Spine label needs replacement
99999 = <custom>

# All conditions are marked on the item as an item note.
Conditions set to true here will also set the item_damage_status as configured above.
[ConditionsDamageFlag]
11111 = True
22222 = True
33333 = False
99999 = True

[Email]
smtp_host = <smtp server>
from_name = Someone
from_address = someone@email.com
to_address = someone@email.com

[Testing]

enabled = False

# Set to a long, random string.  For session management.
secret_key = ABCDEFG12345678

# For testing local access via /login.  Not for production use.
#password = bar

#start_barcode = 12345
#end_barcode = 67890
