name: lint-build-push-deploy
on:
  push:
    tags:
      - "*"
    branches:
      - "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          verbose: true

      - uses: psf/black@stable
        with:
          options: "--check --verbose"

  build-push:
    needs: [lint]
    uses: lehigh-university-libraries/gha/.github/workflows/build-push-ghcr.yaml@main
    permissions:
      contents: read
      packages: write
    secrets: inherit

  deploy:
    needs: [build-push]
    uses: lehigh-university-libraries/gha/.github/workflows/linderman-deploy.yaml@main
    with:
      url: https://apps-test.lib.lehigh.edu/_rollout
    secrets: inherit
    permissions:
      contents: read
      id-token: write
